/* 主题色 */
$primary-color: #6959CD;

/* 布局 */
$layout-nav-height: 50px;
$layout-tag-height: 34px;
$layout-sider-width: 200px;
$layout-sider-hide-width: 60px;
$layout-sider-color: #bfcbd9;
$layout-sider-background: #0e1c26;
$layout-sider-hover-background: rgb(54, 68, 78);
$layout-sider-sub-hover-background: rgb(54, 68, 78);


:export {
  layout-sider-background: $layout-sider-background;
  theme: $primary-color;
  layout-sider-color: $layout-sider-color;
}
