// 基础变量
$g_font_s: 16px;// 一般字体大小
$g_font_c: rgb(100, 100, 100);// 一般字体颜色
$g_vice_font_s1: 14px;// 副标题字体大小1
$g_vice_font_s2: 12px;// 副标题字体大小2s
$g_vice_font_c: #97a8be;// 副标题字体颜色
$g_theme: red;// ElementUI全局背景颜色
$g_padding_20: 20px;// 一般padding
$g_margin_20:20px;// 一般margin
$g_spacing: 20px;
$g_vice_spacing: 10px;

:export {
  theme: $g_theme;
  textColor: $g_font_c;
}
