* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB",
  "WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  overflow: hidden;
  // background-color: #fbf9fe;
  -webkit-text-size-adjust: none; // 全局字体可设置小于12px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 禁止ios点击元素的背景
}
.login-container{
  height: 100%; // 继承父级高度
}
.main-container{
  display: flex;
  flex-direction: column;
  height: 100%; // 继承父级高度
  .app-main{
    flex: 1;
    overflow: auto;
    .app-container{
      min-height: 100%;
    }
  }
}

.app-container{
  padding: 20px;
  .page-filter {
    padding-bottom: 5px;
    .filter-item {
      display: inline-flex;
      align-items: center;
      margin-bottom: 7px;
      margin-left: 10px;
    }
    .filter-item:first-child{
      margin-left: 0px;
    }
    .filter-label{
      padding-right: 5px;
      font-size: 14px;
      color: #606266;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .filter-input, .filter-time, .filter-date, .filter-select{
      width: 180px;
    }
  }
  .page-table{
    .pagination-container{
      padding: 15px 0;
    }
  }
}

.disabled-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}
