* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB",
  "WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  overflow: hidden;
  // background-color: #fbf9fe;
  -webkit-text-size-adjust: none; // 全局字体可设置小于12px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 禁止ios点击元素的背景
}
.login-container{
  height: 100%; // 继承父级高度
}
.main-container{
  display: flex;
  flex-direction: column;
  height: 100%; // 继承父级高度
  .app-main{
    flex: 1;
    overflow: auto;
    .app-container{
      position: relative;
      padding: 20px;
      height: 100%;
    }
  }
}

$treeWidth: 240px;

.app-container{
  .left{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: $treeWidth;
    left: 15px;
    top: 20px;
    bottom: 15px;
    .page-tree{
      flex: 1;
      width: $treeWidth;
      overflow: auto;
      border: 1px solid rgb(200, 200, 200);
      .contextmenu {
        margin: 0;
        background: #fff;
        z-index: 100;
        position: fixed;
        list-style-type: none;
        padding: 5px 0;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);
        li {
          margin: 0;
          padding: 7px 16px;
          cursor: pointer;
          &:hover {
            background: #eee;
          }
        }
      }
    }
  }
  .right{
    margin-left: 250px
  }
}

// 自定义过滤相关
.page-filter {
  padding-bottom: 5px;
  .filter-item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 7px;
    margin-right: 10px;
  }
  .filter-label{
    padding-right: 5px;
    font-size: 14px;
    color: #606266;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .filter-input, .filter-time, .filter-date, .filter-select{
    width: 180px;
  }
}
// 自定义表格相关
.page-table{
  .pagination-container{
    padding: 15px 0;
  }
}

// 自定义form相关
.page-form{
  .el-form-item{
    display: inline-block;
    // float: left;
    width: 48%;
    .el-form-item__content{
      .el-input, .el-select, .el-textarea{
        width: 240px;
      }
      .el-input-number{
        .el-input{
          width: inherit;
        }
      }
    }
  }
  .el-form-block{
    display: block;
    width: 100%;
    .el-form-item__content{
      .el-textarea{
        width: 100%;
      }
    }
  }
}
.page-form-block{
  .el-form-item{
    display: block;
    .el-form-item__content{
      .el-input, .el-select, .el-textarea{
        width: inherit;
      }
      .el-input-number{
        .el-input{
          width: inherit;
        }
      }
    }
  }
  .el-form-block{
    display: block;
    width: 100%;
    .el-form-item__content{
      .el-textarea{
        width: 100%;
      }
    }
  }
}

.disabled-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}
